extends ../layout.jade
block contenido
	SECTION
			div(class="text-center mediano")
				h1(class="orbitron Medium Rojo" Contacto)
				P Sirio Libanes 556, Metán, Salta
				
				p Escribenos a
				a(href="Mailto: Jonatan_Gutierrez7@hotmail.com") Jonatan_Gutierrez7@hotmail.com
				

				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2141.3953365715056!2d-64.97511122984271!3d-25.492259406511142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9419af699815c34d%3A0xdca36c133af38947!2sSirio+Libanes+556%2C+Met%C3%A1n%2C+Salta!5e0!3m2!1ses!2sar!4v1461599227171" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)