doctype html
html(lang="en")
  head
    title Noa Motor's
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" media="all" href="css/animate.css")
    link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css')
  body
  div(class="col-md-4 center-block quitar-float text-center espacio-arriba restraso-1")  
    h1(class="Orbitron Medium Rojo  animated flip") NoaMotors
    p(class="Lato Rojo") los mejores Autos y camionetas al mejor precio
    img(src="imagenes/Noa.jpg" class="animated flip retraso-1")
    h1(class="Lato") --------------------------------------
    h2 Lo mejor en usados y 0 KM
    nav
       a(href="/productos" class="Espacio-Derecha") Camionetas
       a(href="camionetas.html" class="Espacio-Derecha") Usados
       a(href="/Contacto" class="Espacio-Derecha") Contacto
       a(href="quienes-somos.html" class="Espacio-Derecha") ¿Quienes Somos?



