doctype html
html(lang="en")
	head
		title Noa Motor's
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" media="all" href="css/animate.css")
		link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css')
	body( stylesheet="Background-color:gray")
		nav(class="sea-gris padding-largo text-center")
			ul(class="no-lista row")
				li(class="col-md-3 inline-block Orbitron")
					a(href="/" class="Rojo") Noa Motor's #[small(class="lato small")]
				li(class="col-md-3 inline-block")
					a(href="/Contacto" class="Espacio-Derecha") Contacto
				li(class="col-md-2 inline-block")
					a(href="/productos" class="Espacio-Derecha") Camionetas
				li(class="col-md-2 inline-block")
					a(href="Camionetas.html") Usados
				li(class="col-md-2 inline-block")
					a(href="quienes-somos.html" class="Espacio-Derecha") ¿Quienes somos?
		block contenido